*.d
*.glob
*.vo
.*.aux
.coq-native/
/LinearScan/Allocate.hs
/LinearScan/Applicative.hs
/LinearScan/Ascii.hs
/LinearScan/Assign.hs
/LinearScan/Blocks.hs
/LinearScan/Build.hs
/LinearScan/Choice.hs
/LinearScan/Cursor.hs
/LinearScan/Datatypes.hs
/LinearScan/Eqtype.hs
/LinearScan/Fintype.hs
/LinearScan/Functor.hs
/LinearScan/Graph.hs
/LinearScan/IState.hs
/LinearScan/IntMap.hs
/LinearScan/IntSet.hs
/LinearScan/Interval.hs
/LinearScan/Iso.hs
/LinearScan/Lens.hs
/LinearScan/Lib.hs
/LinearScan/List0.hs
/LinearScan/List1.hs
/LinearScan/LiveSets.hs
/LinearScan/Logic.hs
/LinearScan/Loops.hs
/LinearScan/Main.hs
/LinearScan/Monad.hs
/LinearScan/Morph.hs
/LinearScan/Nat.hs
/LinearScan/NonEmpty0.hs
/LinearScan/Order.hs
/LinearScan/Peano.hs
/LinearScan/Prelude.hs
/LinearScan/Proto.hs
/LinearScan/Range.hs
/LinearScan/Resolve.hs
/LinearScan/ScanState.hs
/LinearScan/Seq.hs
/LinearScan/Specif.hs
/LinearScan/Split.hs
/LinearScan/Ssrbool.hs
/LinearScan/Ssreflect.hs
/LinearScan/Ssrfun.hs
/LinearScan/Ssrnat.hs
/LinearScan/State.hs
/LinearScan/State0.hs
/LinearScan/String0.hs
/LinearScan/UsePos.hs
/LinearScan/Vector0.hs
/LinearScan/Yoneda.hs
/LinearScan/choice.hs
/LinearScan/eqtype.hs
/LinearScan/fintype.hs
/LinearScan/seq.hs
/LinearScan/ssrbool.hs
/LinearScan/ssreflect.hs
/LinearScan/ssrfun.hs
/LinearScan/ssrnat.hs
/Makefile.coq
/doc/linearscan.v.aux
/doc/linearscan.v.bbl
/doc/linearscan.v.blg
/doc/linearscan.v.log
/doc/linearscan.v.out
/doc/linearscan.v.tex
Setup
dist
html
/LinearScan/NonEmpty.hs
/LinearScan/Prelude0.hs
/LinearScan/Spill.hs
/LinearScan/Context.hs
/LinearScan/Trace.hs
/LinearScan/Identity.hs
/LinearScan/Maybe.hs
/LinearScan/Tuple.hs
/LinearScan/Const.hs
/LinearScan/Verify.hs
